.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  background-image: url("../../assets/LoginImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
  position: relative;
}

.register-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

.regant-form {
  position: relative;
  z-index: 2; /* to appear above overlay */
  background: #ffffff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  
}

h1 {
  font-size: 2rem;
  text-align: center
 
}


