.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  background-image: url("../../assets/LoginImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

.ant-form {
  position: relative;
  z-index: 1; /* to appear above overlay */
  background: #ffffff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 200%;
  max-width: 460px;
}

h1 {
  font-size: 2rem;
  text-align: center
 
}

.custom-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Green for success */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
  text-align: center;
  font-size: 16px;
}

.custom-popup.error {
  background-color: #f44336; /* Red for error */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}





